services:
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb_local
    ports:
      - "8000:8000"
    volumes:
      - dynamodb_data:/home/dynamodblocal/data
    networks:
      - backend_net

  quiz-service:
    build: ./backend/quiz_service
    container_name: quiz_service
    ports:
      - "8001:8001"
      - "50051:50051"
    environment:
      IS_LOCAL: "true"
      USE_LOCAL_AUTH: "true"
    depends_on:
      dynamodb: { condition: service_started }
    networks:
      - backend_net

  game-service:
    build: ./backend/game_service
    container_name: game_service
    ports:
      - "8002:8002"
    environment:
      IS_LOCAL: "true"
      USE_LOCAL_AUTH: "true"
    depends_on:
      redis: { condition: service_healthy }
    networks:
      - backend_net

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - backend_net

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:8080"
    depends_on:
      - quiz-service
      - game-service
    networks:
      - backend_net
    
networks:
  backend_net:
    driver: bridge

volumes:
  dynamodb_data:
  redis_data: