services:
  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb_local
    ports:
      - "8000:8000"
    volumes:
      - dynamodb_data:/home/dynamodblocal/data
    networks:
      - backend_net

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8001:8000"
    environment:
      IS_LOCAL: "true"
      USE_LOCAL_AUTH: "true"
    depends_on:
      dynamodb: { condition: service_started }
      redis: { condition: service_healthy }
    networks:
      - backend_net

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - backend_net
    
networks:
  backend_net:
    driver: bridge

volumes:
  dynamodb_data:
  redis_data: